
@mixin fondoFooter(){
  background: $colorBgEstilo;
  background: $colorGradienteFooter; 
  border-radius: 10px 10px 0px 0px;
}
#estiloFooter{
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  z-index: 0;
  @include fondoFooter;
  flex-wrap: wrap;
  margin-left: 1%;
  width: 98%;
  bottom: 0;
  height: 5rem;
  min-height: 10px;
  padding-right: 10px;
  justify-content: space-around;
  align-content: center;
  border-top: 1px solid $colorBorde;
}


.btnFooter{
	@include formatoBtnFooter;
}

#imgLogoFooter{
  width: 12em;
}


#logosFooter{
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-self: flex-start;
  z-index: 0;
  flex-wrap: wrap;
  height: 2.1rem;
  width: 7.2rem;
  padding:0;
  margin-top: .2rem;
  min-height: 32px;
  justify-content: center;
  align-content: flex-start;
}

@mixin iconosFooter(){
  display: flex;
  flex-direction: row;
  background-position: center;
  background-repeat: no-repeat;  
  }
  .iconoFb{
    @include iconosFooter;
    margin-top:-10px;
    margin-left:-10px;
    height:48px;
    width:48px;
    background-image: url("../media/fbinicial.png");
     &:hover {
      background-image: url("../media/fb.png");
      }
      }

  .iconoIg{
    @include iconosFooter;
    margin-top:-10px;
    margin-left:-10px;
    height:48px;
    width:48px;
    background-image: url("../media/iginicial.png");
     &:hover {
      background-image: url("../media/ig.png");
      }
      }
  .iconoTw{
    @include iconosFooter;
    margin-top:-10px;
    margin-left:-10px;
    height:48px;
    width:48px;
    background-image: url("../media/twinicial.png");
     &:hover {
      background-image: url("../media/tw.png");
      }

      }
