
@mixin fondoFooter(){
  background: rgb(204,205,205);
  background: linear-gradient(90deg, rgba(204,205,205,0.29733900396095936) 0%, rgba(126,193,228,0.29733900396095936) 50%, rgba(204,205,205,0.3001401244091386) 100%); 
  border-radius: 10px 10px 0px 0px;
}
#estiloFooter{
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  z-index: 0;
  @include fondoFooter;
  flex-wrap: wrap;
  margin-left: 1%;
  width: 98%;
  bottom: 0;
  height: 5rem;
  min-height: 10px;
  padding-right: 10px;
  justify-content: space-around;
  align-content: center;
  border-top: 1px solid $colorBorde;
}


.btnFooter{
	@include formatoBtnFooter;
}

#imgLogoFooter{
  width: 10em;
}
#imgIconosFooter{
  width: 2.1em;
}