$colorTexto: #1a1f21;
$colorFondoCeleste: #7ec1e4;
$colorBorde: gray;

$pesoFuenteExtraLight: 200;
$pesoFuenteLight: 300;
$pesoFuenteNormal: 400;
$pesoFuenteSemiBold: 600;

$radioTotal6: 6px 6px 6px 6px;
$radioTotal8: 8px 8px 8px 8px;
$radioTotal10: 10px 10px 10px 10px;





